header {
    height: 50vh;
    background-image: url("../header_bg/table_bg.png");
    background-size: cover;
}

header div {

    color: white;
    display: flex;
    gap: 25px;
    font-size: 2rem;
    letter-spacing: 3px;
    justify-content: center;
}

header div h1 {
    font-size: 50px;
}

.book-table {
    width: 500px;
    margin: 80px auto;
    padding: 40px;
    background: #3a3a3a;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.book-table h1 {
    font-size: 45px;
    margin-bottom: 10px;
    color: #ffffff;
}

.book-table p {
    color: #969696;
    margin-bottom: 30px;
}

.book-table form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.book-table input,
.book-table textarea {
    padding: 15px;
    border: 2px solid #eee;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

.book-table input:focus,
.book-table textarea:focus {
    border-color: #ff6b35;
}

.book-table button {
    padding: 15px;
    background: #ff6b35;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.book-table button a {
    color: white;
    text-decoration: none;

}

.book-table button:hover {
    background: #e85a2a;
}